.chat-form {
  display: grid;
  grid-template-columns: 95% 5%;
  align-content: center;
  align-items: center;
  grid-gap: 15px;
  grid-area: chat-form;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 42px;
  height: 47px;
  background: #ffffff;
}

.chat-form input {
  outline: none;
  padding: 4px;
  border: none;
  color: #330;
  font-size: 1rem;
}
