.chat-form {
  display: grid;
  grid-template-columns: auto 5px;
  align-content: center;
  align-items: center;
  grid-gap: 15px;
  grid-area: chat-form;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 42px;
  height: 47px;
  background: #ffffff;
}

.chat-form input {
  outline: none;
  padding: 4px;
  border: none;
  color: #330;
  font-size: 1rem;
}

.record-indicator-container {
  overflow: hidden;
}

.record-indicator {
  float: left;
  animation: blinker 0.7s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.record-indicator-counter {
  float: left;
  padding-left: 7px;
  padding-top: 3.5px;
}

@keyframes blinker {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}
