.chat-message-list {
  display: flex;
  flex: 1 1;
  flex-direction: column-reverse;
  grid-area: chat-message-list;

  height: calc(100% - 53px);

  padding: 0 20px;

  overflow-y: scroll;
}

/* works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1);
}

/* works on Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 7.5px;
}

*::-webkit-scrollbar-track {
  border-radius: 25px;

  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 25px;

  border: hidden;
  background: rgba(0, 0, 0, 0.14);
}
